if ! has nix_direnv_version || ! nix_direnv_version 2.4.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.4.0/direnvrc" "sha256-XQzUAvL6pysIJnRJyR7uVpmUSZfc7LSgWQwq/4mBr1U="
fi

# Utility function to use sops directly
use_sops() {
  local path=${1:-$PWD/secrets.yaml}
  eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
  watch_file "$path"
}

# Reload if any of these files change
watch_file .envrc.local

# Use flake
use flake

# expose FLAKE_ROOT
export FLAKE_ROOT=${PRJ_ROOT}

# allow envrc overrides
[[ -f .envrc.local ]] && source_env .envrc.local

# load secrets from sops
use sops ${PRJ_ROOT}/secrets/secrets.yaml
