# Utility function to use sops directly
use_sops() {
  local path=${1:-$PWD/secrets.yaml}
  eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
  watch_file "$path"
}

# Reload if any of these files change
watch_file nix/* .envrc.local

# Use flake
use flake

# expose FLAKE_ROOT
export FLAKE_ROOT=${PRJ_ROOT}

# Terragrunt
export TERRAGRUNT_WORKING_DIR=${PRJ_ROOT}/terraform

# allow envrc overrides
[[ -f .envrc.local ]] && source_env .envrc.local

# load secrets from sops
use sops ./secrets/secrets.yaml
